@model CycleSales.Models.Bike

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>


<div>
    <h4>Bike</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Retail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Retail)
        </dd>
    </dl>
</div>
<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BikeId }) |
        @Html.ActionLink("Back to List", "Index")
</p>
</body>
</html>

